APP_URL=https://emr.quantumleapcorp.com
# Possible options are prod or dev. No spaces, no quotes.
OPENEMR__ENVIRONMENT=
# Possible options are true to prevent dated reminders and background apps.Else empty or false. No spaces, no quotes.
OPENEMR__NO_BACKGROUND_TASKS=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_API_VERSION=
CURRENCY=
STRIPE_WEBHOOK_SECRET=